<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Mohammed Moharram (moharram82)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        
        <style>
            #profile_pic {
                float: right;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Mohammed Moharram (moharram82)</h1>
            <p>Web Designer &amp; Developer</p>
        </header>

        <div id="banner">
            <span id="logo"></span>
            <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
        </div><!-- end banner -->
	
        <div class="wrapper">
            <nav>
                <ul></ul>
            </nav>
            <section>
                <div id="profile_pic">
                    <img src="https://scontent.fruh1-1.fna.fbcdn.net/v/t1.0-9/12705358_10154638062603636_87158626420710808_n.jpg?oh=2911ef56f4ad2500c6385185c9331bf3&oe=5924881E" alt="Profile Picture">
                </div><!-- end of #profile_pic -->
                
                {{ content }}
                
            </section>
            <footer>
                <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
            </footer>
        </div><!-- end of .wrapper -->
        <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
    </body>
</html>
